<?xml version="1.0" encoding="utf-8"?>
<DataType Key="694d6131-cef8-4fc6-8c6b-48dc58444a7f" Alias="AboutMe - BodyText - Markdown editor" Level="1">
  <Info>
    <Name>AboutMe - BodyText - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>