<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c688b284-f9a6-4681-a12d-43d8be8b8e58" Alias="blogArticle - MultiNode - Multinode Treepicker" Level="1">
  <Info>
    <Name>blogArticle - MultiNode - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "projectDetail",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>