<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9db19b27-b252-48e2-80ff-09e4d280dfd4" Alias="blogArticle - Body Text - Markdown editor" Level="1">
  <Info>
    <Name>blogArticle - Body Text - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": true,
  "DefaultValue": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>