<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1d960ab-1158-464f-80d4-8c38d717ec07" Alias="Content Grid" Level="1">
  <Info>
    <Name>Content Grid</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "Full Width",
        "areas": [
          {
            "grid": 12,
            "allowed": [],
            "allowAll": true
          }
        ],
        "label": "Full Width"
      },
      {
        "name": "Half Width",
        "areas": [
          {
            "grid": 6,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 6,
            "allowed": [],
            "allowAll": true
          }
        ],
        "label": "Half Width"
      },
      {
        "name": "Third Width",
        "areas": [
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          }
        ],
        "label": "Third Width"
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>