<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e026b7a-6a35-4654-875e-8169b4aeac16" Alias="ProjectDetail - Project - Markdown editor" Level="1">
  <Info>
    <Name>ProjectDetail - Project - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>