@model Portfolio.Core.Controllers.TestController.TestViewModel

@{
    Layout = "TestLayout";
}

<!DOCTYPE html>

<html>
<head>
    <h1>This is my view!</h1>
    <partial name="TestPartial" model="Model.Message" />
</head>
<body>
<div>
      
</div>
</body>
</html>