@using Umbraco.Cms.Web.Common.PublishedModels;
@model Portfolio.Core.Models.ViewModels.AboutMeViewModel
@{
	Layout = "Main.cshtml";
	Model.PageTitle = "AboutMe";
}

<head>
	<title>@Model.PageTitle</title>
	<link rel="stylesheet" href="/css/AboutMe.css"/>
</head>

<body>

@Model.BodyText

</body>