@using Umbraco.Cms.Web.Common.PublishedModels;
@using Portfolio.Core.Controllers.Surface
@using Portfolio.Core.Models.FormModels
@model Portfolio.Core.Models.ViewModels.MainViewModel
@{
	Layout = "Main.cshtml";
	
	Model.PageTitle = "Contact";
	
	var contactFormModel = new ContactFormModel();
}
@using (Html.BeginUmbracoForm<ContactSurfaceController>(nameof(ContactSurfaceController.Submit))) {
	@Html.ValidationSummary()
	<div>
		<label>Name:</label><br />
		@Html.TextBoxFor(e => contactFormModel.Name)
	</div>
	<div>
		<label>E-mail:</label><br />
		@Html.TextBoxFor(e => contactFormModel.Email)
	</div>
	<div>
		<label>Comment:</label><br />
		@Html.TextAreaFor(e => contactFormModel.Comment)
	</div>
	<div>
		<button>Submit</button>
	</div>
}