@using Umbraco.Cms.Web.Common.PublishedModels;
@model Portfolio.Core.Models.ViewModels.ProjectOverviewViewModel
@{
	Layout = "Main.cshtml";
}

<head>
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" href="/css/ProjectOverview.css"/>
</head>

<body>

@Model.BodyText

<ul>
	@foreach (var project in Model.Children)
	{
		<li>
			<a href="@project.Url()">@project.Name</a>
		</li>
	}
</ul>

</body>