@using Umbraco.Cms.Web.Common.PublishedModels;
@using Portfolio.Core.Models.Umbraco
@model Portfolio.Core.Models.ViewModels.ProjectOverviewViewModel
@{
    Layout = "Main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    @{ var root = Model?.Content.Root<Home>(); }
    <meta property="og:image" content="@root?.MetaImage.Url()">
    <meta property="og:description" content="@Model?.MetaDescription">
    <link rel="stylesheet" href="/css/ProjectOverview.css"/>
}


@Model.BodyText

<ul>
    @foreach (var project in Model.Children)
    {
        <li>
            <a href="@project.Url()">@project.Name</a>
        </li>
    }
</ul>