@using Umbraco.Cms.Web.Common.PublishedModels;
@model Portfolio.Core.Models.ViewModels.ProjectOverviewViewModel
@{
	Layout = "Main.cshtml";
	
	ViewBag.Title = "ProjectOverview";
}

@Model.BodyText

<ul>
	@foreach (var project in Model.Children)
	{
		<li>
			<a href="@project.Url()">@project.Name</a>
		</li>
	}
</ul>