@using Umbraco.Cms.Web.Common.PublishedModels;
@model Portfolio.Core.Models.ViewModels.ProjectOverviewViewModel
@{
	Layout = "Main.cshtml";
}

@section meta
{
	<link rel="stylesheet" href="/css/ProjectOverview.css"/>
}


@Model.BodyText

<ul>
	@foreach (var project in Model.Children)
	{
		<li>
			<a href="@project.Url()">@project.Name</a>
		</li>
	}
</ul>
