@using Umbraco.Cms.Web.Common.PublishedModels;
@model Portfolio.Core.Models.ViewModels.ProjectDetailViewModel
@{
	Layout = "Main.cshtml";
}

<head>
	<title>@Model.PageTitle</title>
	<link rel="stylesheet" href="/css/ProjectDetail.css"/>
</head>

<body>

@Model.Title

@Model.Project

</body>