<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="abe.kasper@hva.nl">
  <Info>
    <Comments />
    <Name>Abe Kasper</Name>
    <Username>abe.kasper@hva.nl</Username>
    <Email>abe.kasper@hva.nl</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEBjqbITV2UFaVbDZRlH6D4SSAGYx+opAeg+uYGhh4TakGY6OQtZd5byvURvPfuW92A==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>