<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="790fd3e2-ed8f-4af8-9fb4-0ca24063f48d" Alias="aboutMe" Level="1">
  <Info>
    <Name>AboutMe</Name>
    <Icon>icon-people color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>about me</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ebd2ef4a-2ac8-4ee2-9e26-bce4fbb81dce">metaData</Composition>
    </Compositions>
    <DefaultTemplate>AboutMe</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e6ba1a33-9eaa-4fa9-9e30-60fce9d74411">AboutMe</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d3cf10f5-cec5-48de-92d8-3fd78365b34b</Key>
      <Name>BodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>694d6131-cef8-4fc6-8c6b-48dc58444a7f</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dd4af5e4-c356-4d50-ac6e-b8a25f517042</Key>
      <Caption>BodyText</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>