<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9d8628d-f5ef-47cc-857c-6f1fa6ff8f86" Alias="blogOverview" Level="1">
  <Info>
    <Name>blogOverview</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>blog overview</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ebd2ef4a-2ac8-4ee2-9e26-bce4fbb81dce">metaData</Composition>
    </Compositions>
    <DefaultTemplate>BlogOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa6dabd6-2ad5-4aab-bfee-b580b6636a33">BlogOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9dce28a3-948b-445b-8a87-dff9ceaa4efb" SortOrder="0">blogArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>53ff843f-e147-4e63-818f-0ca14c56ec51</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">Body Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>78d4cfb3-039a-400a-8825-4ba516df5241</Key>
      <Caption>Body Text</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>