<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e680767e-57a0-4355-9c64-2b5fbc3562a0" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b0d89f4-979e-47ef-ad84-19b2032fef52">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e680767e-57a0-4355-9c64-2b5fbc3562a0" SortOrder="0">content</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d44901b4-4a39-45fe-90fb-0f4aa11d1f32</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">Body Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>28d4e187-aac3-4cd2-9d00-8ebe4dac93f2</Key>
      <Caption>Body Text</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>