<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33e0a17b-877a-40e4-b774-f6e9caa001f5" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>home page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ebd2ef4a-2ac8-4ee2-9e26-bce4fbb81dce">metaData</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7997d809-1bb3-45f6-9e95-6a375b1f97de">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e680767e-57a0-4355-9c64-2b5fbc3562a0" SortOrder="0">content</ContentType>
    <ContentType Key="a9d8628d-f5ef-47cc-857c-6f1fa6ff8f86" SortOrder="1">blogOverview</ContentType>
    <ContentType Key="14f0d799-c88a-42a7-be38-db8488e54a82" SortOrder="2">projectOverview</ContentType>
    <ContentType Key="790fd3e2-ed8f-4af8-9fb4-0ca24063f48d" SortOrder="3">aboutMe</ContentType>
    <ContentType Key="45b25356-cb16-4d31-8045-443ba82dd7ec" SortOrder="4">contact</ContentType>
    <ContentType Key="356fc388-57df-4eb8-a4ca-34e26966c3ac" SortOrder="5">search</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a4a488ee-d8de-4286-a74d-e7293a6cb0e9</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23caa7b3-3367-4446-836a-1b42a72f73f7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>