<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f2cb1a4-791c-4882-9c8e-26f6448d04a4" Alias="projectDetail" Level="1">
  <Info>
    <Name>ProjectDetail</Name>
    <Icon>icon-certificate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ProjectDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c3e8adec-9fc4-4a87-9bad-28d8363589c0">ProjectDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6bcf48b4-278a-4f77-9f45-d72b6710fc7f</Key>
      <Name>BodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de57db55-45e9-4e4f-8da5-2817417721d5</Key>
      <Caption>BodyText</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>