<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14f0d799-c88a-42a7-be38-db8488e54a82" Alias="projectOverview" Level="1">
  <Info>
    <Name>ProjectOverview</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>project overview</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ebd2ef4a-2ac8-4ee2-9e26-bce4fbb81dce">metaData</Composition>
    </Compositions>
    <DefaultTemplate>ProjectOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f3673afe-41df-4433-905f-ea0cf8e954ba">ProjectOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6f2cb1a4-791c-4882-9c8e-26f6448d04a4" SortOrder="0">projectDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>13cd0393-17d2-48e0-a717-b5d93c59f68e</Key>
      <Name>BodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>deda416d-740f-4682-bf49-882e780d2e40</Key>
      <Caption>BodyText</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>