<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f2cb1a4-791c-4882-9c8e-26f6448d04a4" Alias="projectDetail" Level="1">
  <Info>
    <Name>ProjectDetail</Name>
    <Icon>icon-certificate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ProjectDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c3e8adec-9fc4-4a87-9bad-28d8363589c0">ProjectDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f690f281-17f9-4119-bf54-a2e054c553d7</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[author]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f84d129-289e-403c-a766-d40f1382426c</Key>
      <Name>Project</Name>
      <Alias>project</Alias>
      <Definition>2e026b7a-6a35-4654-875e-8169b4aeac16</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[project]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc8ee806-0af2-4480-9864-2d530c69ca4a</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>ca5ed3aa-f99e-466e-b0b8-1743546d8a63</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">BodyText</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de57db55-45e9-4e4f-8da5-2817417721d5</Key>
      <Caption>BodyText</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>